[submodule "themes/LoveIt"]
	path = themes/LoveIt
	url = https://github.com/dillonzq/LoveIt.git
[submodule "themes/hugo-tailwind-journal"]
	path = themes/hugo-tailwind-journal
	url = https://github.com/ianrodrigues/hugo-tailwind-journal.git
