{{ define "main" }}
	<main>
		<article>
            <div class="posttitle">
                {{ .Title }}
            {{ if .Params.Subtitle }}
            <div class="subtitle">
                {{ .Params.Subtitle }}
            </div>
            {{ end }}
            </div>
            <div class="postmeta">
                {{ .WordCount }} words | {{ .ReadingTime }} min read
            </div>
			<div class="content">
				{{ .Content }}
			</div>



			{{ with .Params.tags }}
			<div class="tagsdiv">
				<ul id="tags">
					{{ range . }}
					<a id="onetag" href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{ . }}</a>
					{{ end }}
				</ul>
			</div>
			{{ end }}
		</article>
	</main>
{{ end }}
